.column {
    float:left;
    width: 100%;
    height: 50px;
    background-color: black;
    margin: 10px 0;
}

@media (min-width: 992px) {
    .column {
        background-color: red;
    
    }
}


@media (min-width: 768px) {
    .column {
        background-color: green;
        width: 30%;
        margin: 10px;
    }
}


